#header {
  position: fixed;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: start;
  box-shadow: 0px 20px 20px 5px rgba(0, 0, 0, 0.7);
  padding: 0;
  z-index: 10;
  transition: all 0.7s ease-in-out;
  color: #d8d8d8; }
  #header .fa-tv {
    font-size: 2em;
    margin: auto 0 auto 20px;
    display: none; }
    @media (min-width: 1000px) {
      #header .fa-tv {
        display: inline; } }
  #header #navbar {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 20px auto 0 0;
    font-size: 0.7em; }
    @media (min-width: 600px) {
      #header #navbar {
        flex-direction: column; } }
    @media (min-width: 1000px) {
      #header #navbar {
        flex-direction: row;
        display: flex;
        width: 80%;
        justify-content: space-evenly;
        padding: 0; } }
    #header #navbar li {
      background-color: black;
      cursor: pointer;
      font-size: 1.7em;
      padding: 10px; }
      @media (min-width: 1000px) {
        #header #navbar li {
          font-size: 1em;
          margin: auto 0px;
          background-color: transparent; } }
      #header #navbar li span {
        display: none; }
        @media (min-width: 1000px) {
          #header #navbar li span {
            display: inline; } }
      #header #navbar li .fa-bars {
        font-size: 2em; }
        @media (min-width: 1000px) {
          #header #navbar li .fa-bars {
            display: none; } }
      #header #navbar li .fa-caret-right {
        display: none; }
        @media (min-width: 1000px) {
          #header #navbar li .fa-caret-right {
            display: inline; } }
    #header #navbar #category-toggle {
      font-size: 1.3em;
      background-color: transparent; }
      #header #navbar #category-toggle i {
        border: 0; }
    #header #navbar .category {
      opacity: 0;
      transition: all 0.7s;
      position: relative;
      right: 50px;
      cursor: default; }
      #header #navbar .category a {
        text-decoration-line: none;
        color: white; }
    #header #navbar .category:hover {
      border-bottom: 1px solid white; }

#main-header-img {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/bigposter2.jpg);
  position: sticky;
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 50%;
  bottom: 0;
  z-index: 2; }
  #main-header-img img {
    z-index: 4;
    width: 100%;
    top: 200vh;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0) rotate(0deg); }
  #main-header-img #popcorn1 {
    z-index: 0; }
  #main-header-img #popcorn2 {
    z-index: 0; }
  #main-header-img #main-text {
    text-align: center;
    position: absolute;
    font-size: 1em;
    color: white;
    top: -20%;
    left: 50%;
    width: 100%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    background-color: #6f0b0b;
    padding: 20px 0;
    text-transform: uppercase;
    transition: all 0.8s ease-out; }
    @media (min-width: 600px) {
      #main-header-img #main-text {
        font-size: 1.5em; } }
    @media (min-width: 1000px) {
      #main-header-img #main-text {
        font-size: 2.5em; } }
  #main-header-img #other-text {
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 1em;
    color: white;
    top: 60%;
    left: -50%;
    transform: translate(-50%, -50%);
    transition: all 0.8s ease-out;
    text-shadow: 0 0 20px black; }
    @media (min-width: 600px) {
      #main-header-img #other-text {
        font-size: 1.5em; } }
    @media (min-width: 1000px) {
      #main-header-img #other-text {
        font-size: 2.5em; } }

.empty-space {
  height: 200vh; }

.empty-space2 {
  height: 100vh; }

#other-header-img {
  position: sticky;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background-image: url(../Images/Jumanji.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-attachment: fixed;
  z-index: 1; }
  #other-header-img #offer-text {
    display: block;
    position: relative;
    font-size: 1.5em;
    color: white;
    top: 50%;
    opacity: 0;
    text-align: center;
    transition: all 0.8s ease-out;
    text-shadow: 0 0 20px black; }
    @media (min-width: 600px) {
      #other-header-img #offer-text {
        font-size: 2em; } }
    @media (min-width: 1000px) {
      #other-header-img #offer-text {
        font-size: 3em; } }
  #other-header-img a {
    color: white; }
    #other-header-img a #goto-offer {
      width: 75%;
      position: absolute;
      font-size: 2em;
      text-align: center;
      transition: all 0.8s ease-out;
      border: 4px solid white;
      border-radius: 50px;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      overflow: hidden;
      text-transform: uppercase;
      opacity: 0; }
      @media (min-width: 600px) {
        #other-header-img a #goto-offer {
          width: 55%; } }
      @media (min-width: 1000px) {
        #other-header-img a #goto-offer {
          width: 35%; } }
    #other-header-img a #goto-offer::after {
      content: "";
      width: 0%;
      height: 100%;
      background-color: white;
      position: absolute;
      top: 0;
      left: 0;
      color: black;
      border-radius: 50px;
      transition: all 0.5s ease-in-out;
      z-index: -1; }
    #other-header-img a #goto-offer:hover::after {
      width: 100%; }
  #other-header-img a:hover {
    color: black; }

#container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(#181818, #2e2e2e); }
  @media (min-width: 600px) {
    #container {
      display: flex;
      flex-direction: column; } }
  @media (min-width: 1000px) {
    #container {
      display: flex;
      flex-direction: row; } }
  #container #side-filter-overlay {
    height: 80px;
    overflow: hidden;
    border-right: 0px solid #da1e1e;
    background-image: linear-gradient(#2e2e2e, #181818);
    flex-shrink: 0;
    flex-grow: 0;
    transition: all 0.7s; }
    @media (min-width: 1000px) {
      #container #side-filter-overlay {
        height: auto;
        flex-basis: 80px; } }
    #container #side-filter-overlay #side-filter {
      width: 100vw;
      color: white;
      display: flex;
      font-size: 1.5em;
      justify-content: flex-start; }
      @media (min-width: 600px) {
        #container #side-filter-overlay #side-filter {
          width: 100vw; } }
      @media (min-width: 1000px) {
        #container #side-filter-overlay #side-filter {
          width: 500px; } }
      #container #side-filter-overlay #side-filter i {
        flex-basis: 80px;
        flex-grow: 0;
        flex-shrink: 0;
        text-align: center;
        height: 80px;
        line-height: 80px;
        cursor: pointer; }
      #container #side-filter-overlay #side-filter i:hover {
        background-color: rgba(0, 0, 0, 0.486); }
      #container #side-filter-overlay #side-filter #filter-options {
        padding-left: 20px;
        width: 100%; }
        #container #side-filter-overlay #side-filter #filter-options #filter-header {
          text-align: center;
          border-bottom: 1px solid white;
          border-top: 0;
          border-right: 0;
          border-left: 0;
          border-radius: 0; }
        #container #side-filter-overlay #side-filter #filter-options p {
          border: 2px solid red;
          padding: 10px 20px;
          border-radius: 8px;
          font-size: 0.8em; }
        #container #side-filter-overlay #side-filter #filter-options p:hover {
          background-color: red; }
  #container #product-container {
    width: fit-content;
    flex: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 2% 10%; }
    #container #product-container .productcontent {
      width: 45%;
      color: white;
      margin: 10px 0; }
      @media (min-width: 600px) {
        #container #product-container .productcontent {
          width: 45%; } }
      @media (min-width: 1000px) {
        #container #product-container .productcontent {
          width: 26%; } }
      #container #product-container .productcontent .imgcontainer img {
        position: relative;
        width: 100%;
        transition: all 0.9s;
        opacity: 0.6;
        z-index: 0;
        filter: grayscale(0.4);
        cursor: pointer;
        display: block; }
      #container #product-container .productcontent .imgcontainer:hover img {
        opacity: 1;
        filter: grayscale(0);
        transform: scale(1.05); }
      #container #product-container .productcontent span {
        font-size: 0.5em;
        display: block;
        text-align: center;
        padding: 0;
        height: 50px;
        margin: 20px 0 0 0; }
        @media (min-width: 600px) {
          #container #product-container .productcontent span {
            font-size: 0.7em; } }
        @media (min-width: 1000px) {
          #container #product-container .productcontent span {
            font-size: 0.7em; } }
      #container #product-container .productcontent .addtocart {
        font-size: 0.6em;
        background-color: #6f0b0b;
        text-align: center;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        font-weight: bold; }
      #container #product-container .productcontent .addtocart:hover {
        background-color: red; }

@keyframes thing {
  0% {
    clip-path: polygon(100% 69%, 100% 83%, 100% 100%, 79% 100%, 50% 100%, 100% 50%);
    filter: opacity(0.6) contrast(100%) invert(0); }
  16% {
    clip-path: polygon(100% 53%, 100% 75%, 76% 100%, 53% 100%, 25% 100%, 100% 25%); }
  33% {
    clip-path: polygon(100% 27%, 100% 50%, 50% 100%, 27% 100%, 0 100%, 100% 0); }
  50% {
    clip-path: polygon(100% 0, 100% 25%, 25% 100%, 0 100%, 0 75%, 75% 0); }
  66% {
    clip-path: polygon(79% 0, 100% 0, 0 100%, 0 76%, 0 50%, 50% 0); }
  83% {
    clip-path: polygon(45% 0, 75% 0, 0 75%, 0 48%, 0 25%, 25% 0); }
  100% {
    clip-path: polygon(30% 0, 50% 0, 0 50%, 0 19%, 0 0, 14% 0);
    filter: opacity(0.6) contrast(200%) invert(1); } }

@keyframes thing2 {
  0% {
    transform: scale(1);
    filter: opacity(1) contrast(100%) invert(0); }
  100% {
    transform: scale(1.2);
    filter: opacity(0.6) contrast(200%) invert(1); } }

@keyframes thing3 {
  0% {
    top: 0px;
    right: 0px; }
  100% {
    top: -100px;
    right: -75px; } }

@keyframes thing4 {
  0% {
    bottom: 0px;
    left: 0px; }
  100% {
    bottom: -100px;
    left: -75px; } }

#cart-icon {
  position: fixed;
  right: 50px;
  top: 30px;
  background-color: white;
  border-radius: 30px;
  width: 70px;
  height: 70px;
  text-align: center;
  box-shadow: 0 0 20px 3px black;
  cursor: pointer; }
  #cart-icon #success-container {
    position: absolute;
    background-color: white;
    height: fit-content;
    width: 600px;
    top: -200px;
    right: -50px;
    transition: all 0.5s; }
    #cart-icon #success-container i {
      color: green;
      position: relative;
      top: 10px;
      left: 0%;
      font-size: 2em; }
    #cart-icon #success-container p {
      font-size: 0.6em;
      position: relative;
      bottom: 0;
      left: 10px; }
  #cart-icon #cart-count {
    position: absolute;
    bottom: -15px;
    right: 0;
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    text-align: center; }
  #cart-icon .fa-shopping-basket {
    color: #6f0b0b;
    font-size: 1.7em;
    line-height: 70px; }
  #cart-icon .fa-shopping-basket:hover {
    color: red; }
  #cart-icon #cart-container {
    background-color: #e6e6e6;
    width: 800px;
    position: absolute;
    right: -1000px;
    top: -30px;
    border-radius: 6px;
    z-index: 100;
    height: fit-content;
    overflow-y: scroll;
    transition: all 0.5s;
    padding: 0;
    max-height: 100vh; }
    #cart-icon #cart-container #cart-header {
      border-bottom: 1px solid black;
      padding: 20px 0;
      position: sticky;
      top: 0;
      background-color: #e6e6e6;
      z-index: 2;
      font-size: 1.7em; }
      #cart-icon #cart-container #cart-header i {
        position: relative;
        left: -25%; }
      #cart-icon #cart-container #cart-header i:hover {
        color: #8d8d8d; }
    #cart-icon #cart-container .cart-content {
      position: relative;
      background-color: white;
      box-sizing: border-box;
      border: 0px solid black;
      display: grid;
      grid-template-columns: 20% 60% 20%;
      grid-template-rows: 50% 50%;
      padding: 10px;
      margin: 10px;
      font-size: 1em;
      height: 150px;
      transition: all 0.5s;
      z-index: 1; }
      #cart-icon #cart-container .cart-content img {
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 200%; }
      #cart-icon #cart-container .cart-content .title {
        grid-column: 2;
        grid-row: 1; }
      #cart-icon #cart-container .cart-content .price {
        grid-column: 3;
        grid-row: 2;
        margin: auto 0 0 0; }
      #cart-icon #cart-container .cart-content .amount-div {
        font-size: 1em;
        margin: auto 50px 0 50px;
        grid-column: 2;
        grid-row: 2;
        display: flex;
        justify-content: space-between;
        border: 2px solid red;
        border-radius: 15px;
        height: 30px;
        padding: 0 20px;
        color: black; }
        #cart-icon #cart-container .cart-content .amount-div p {
          margin: 0;
          display: inline; }
      #cart-icon #cart-container .cart-content .remove {
        grid-column: 3;
        grid-row: 1;
        margin: 0 0 auto auto;
        font-size: 1.5em; }
    #cart-icon #cart-container .cart-content::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(20deg, white, #ffd3d3, white);
      z-index: -1;
      transition: opacity 0.5s linear;
      opacity: 0; }
    #cart-icon #cart-container .cart-content:hover::before {
      opacity: 1; }
    #cart-icon #cart-container #total-price {
      position: sticky;
      padding: 10px;
      z-index: 2;
      background-color: white;
      bottom: 50px;
      border-top: 2px solid black; }
    #cart-icon #cart-container #cart-options {
      position: sticky;
      height: 50px;
      bottom: 0;
      z-index: 2;
      display: flex;
      justify-content: space-evenly; }
      #cart-icon #cart-container #cart-options #remove-all {
        font-size: 0.7em;
        color: white;
        border: 0px solid red;
        padding: 10px;
        transition: all 0.3s;
        background-color: #6f0b0b;
        width: 10%; }
      #cart-icon #cart-container #cart-options #remove-all:hover {
        background-color: #c81414; }
      #cart-icon #cart-container #cart-options a {
        display: contents;
        text-decoration-line: none; }
        #cart-icon #cart-container #cart-options a #checkout-button {
          width: 90%;
          font-size: 0.7em;
          color: white;
          padding: 10px;
          border-radius: 0px;
          transition: all 0.3s;
          background-color: #0b6f0b; }
        #cart-icon #cart-container #cart-options a #checkout-button:hover {
          background-color: #14c814; }

#footer-container {
  width: 100%;
  height: 600px;
  background-color: #1d233f;
  background-image: linear-gradient(rgba(27, 0, 0, 0.96), rgba(27, 0, 0, 0.96));
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: grid;
  grid-template-columns: auto auto 100% auto auto;
  grid-template-rows: 30% 30% 30% 10%;
  padding: 20px 0 0 0;
  color: white;
  text-align: center;
  font-size: 0.6em; }
  @media (min-width: 600px) {
    #footer-container {
      grid-template-columns: auto 30% 30% 30% auto;
      grid-template-rows: 90% 10%;
      height: 250px; } }
  @media (min-width: 1000px) {
    #footer-container {
      grid-template-columns: auto 20% 20% 20% auto;
      grid-template-rows: 90% 10%;
      height: 250px; } }
  #footer-container .footer-content:nth-child(1) {
    grid-column: 3;
    grid-row: 1; }
    @media (min-width: 600px) {
      #footer-container .footer-content:nth-child(1) {
        grid-row: 1;
        grid-column: 2; } }
    @media (min-width: 1000px) {
      #footer-container .footer-content:nth-child(1) {
        grid-row: 1;
        grid-column: 2; } }
  #footer-container .footer-content:nth-child(2) {
    grid-column: 3;
    grid-row: 2; }
    @media (min-width: 600px) {
      #footer-container .footer-content:nth-child(2) {
        grid-row: 1;
        grid-column: 3; } }
    @media (min-width: 1000px) {
      #footer-container .footer-content:nth-child(2) {
        grid-row: 1;
        grid-column: 3; } }
  #footer-container .footer-content:nth-child(3) {
    grid-column: 3;
    grid-row: 3; }
    @media (min-width: 600px) {
      #footer-container .footer-content:nth-child(3) {
        grid-row: 1;
        grid-column: 4; } }
    @media (min-width: 1000px) {
      #footer-container .footer-content:nth-child(3) {
        grid-row: 1;
        grid-column: 4; } }
    #footer-container .footer-content:nth-child(3) ul {
      display: flex;
      flex-direction: row; }
      #footer-container .footer-content:nth-child(3) ul li {
        margin: auto; }
        #footer-container .footer-content:nth-child(3) ul li a i {
          font-size: 4em; }
  #footer-container .footer-content h2 {
    margin: 0; }
  #footer-container .footer-content #middle-column {
    display: flex;
    justify-content: center;
    height: 70%; }
    #footer-container .footer-content #middle-column ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      height: 100%; }
      #footer-container .footer-content #middle-column ul li {
        margin: auto 20px; }
  #footer-container .footer-content #tothetop {
    cursor: pointer; }
  #footer-container .footer-content ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 90%; }
    #footer-container .footer-content ul li {
      margin: auto 0; }
      #footer-container .footer-content ul li a {
        font-weight: lighter;
        color: white;
        text-decoration-line: none; }
        #footer-container .footer-content ul li a i {
          font-size: 2em;
          cursor: pointer;
          color: white; }
        #footer-container .footer-content ul li a i:hover {
          color: #da1e1e; }
      #footer-container .footer-content ul li h3 {
        font-weight: normal;
        color: #920000;
        display: inline;
        margin: 0; }
  #footer-container #footer-footer {
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: #6f0b0b; }
    #footer-container #footer-footer span {
      color: #afafaf;
      font-size: 1em;
      position: relative;
      display: block;
      width: 90%;
      top: 50%;
      left: 5%;
      transform: translate(0, -50%); }

#second-header {
  width: 100%;
  background-color: #6f0b0b;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  position: relative; }
  #second-header ul {
    width: 70%;
    color: white;
    list-style-type: none;
    padding: 0 10% 0 0;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.5em; }
    @media (min-width: 600px) {
      #second-header ul {
        font-size: 0.7em;
        width: 80%; } }
    @media (min-width: 1000px) {
      #second-header ul {
        font-size: 1em;
        width: 100%; } }
    #second-header ul li {
      position: relative; }
      #second-header ul li i {
        display: none; }
        @media (min-width: 600px) {
          #second-header ul li i {
            display: inline; } }
        @media (min-width: 1000px) {
          #second-header ul li i {
            display: inline; } }
      #second-header ul li a {
        text-decoration-line: none;
        color: white;
        font-weight: lighter; }
      #second-header ul li a::after {
        width: 0%;
        background-color: white;
        height: 2px;
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.5s;
        z-index: -1; }
      #second-header ul li a:hover::after {
        width: 100%; }
    #second-header ul #active a::after {
      width: 100%; }

#modal {
  display: none;
  position: fixed;
  z-index: 115;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2); }
  #modal #modal-container {
    background-color: whitesmoke;
    margin: 3% auto;
    width: 75%;
    box-shadow: 0 0 20px 11px rgba(0, 0, 0, 0.9);
    border-radius: 6px;
    overflow: hidden; }
    #modal #modal-container #modal-trailer {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      height: 0; }
      #modal #modal-container #modal-trailer iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute; }
    #modal #modal-container #modal-body {
      background-color: #e6e6e6; }
      #modal #modal-container #modal-body p {
        background-color: #fff;
        margin: 0;
        font-size: .75em;
        padding: 0px 30px; }
      #modal #modal-container #modal-body #modal-title {
        padding-left: 15px; }
    #modal #modal-container #modal-footer {
      background-color: white;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      border-radius: 6px; }
      #modal #modal-container #modal-footer span {
        width: 20%;
        text-align: center;
        font-size: .8em; }
      #modal #modal-container #modal-footer .buybtn {
        background-color: #6f0b0b;
        color: white;
        padding: 5px 0px;
        display: inline;
        width: 20%;
        text-align: center;
        font-size: 0.9em;
        border-top-left-radius: 5px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 0px;
        cursor: pointer; }
      #modal #modal-container #modal-footer .buybtn:hover {
        background-color: red; }

.big-container {
  background-image: linear-gradient(#2e2e2e, #181818);
  display: flex;
  justify-content: center; }
  .big-container .container {
    background-image: linear-gradient(#181818, #2e2e2e);
    font-size: 0.8em;
    color: white;
    width: 500px; }
    .big-container .container #products {
      height: auto;
      width: 100%; }
      .big-container .container #products .product-container {
        display: grid;
        grid-template-columns: 40% 55% 5%;
        grid-template-rows: 33% 33% 33%;
        height: 220px;
        padding-top: 20px; }
        .big-container .container #products .product-container img {
          grid-column: 1;
          grid-row-start: 1;
          grid-row-end: 3;
          height: 150%; }
        .big-container .container #products .product-container .mini {
          font-size: 1em;
          width: 40%;
          margin: 15px 15px 15px 0px;
          grid-column: 2;
          grid-row: 2;
          display: flex;
          justify-content: space-between;
          border: 2px solid red;
          border-radius: 15px;
          height: 25px;
          line-height: 25px;
          padding: 0 20px; }
        .big-container .container #products .product-container .plussa, .big-container .container #products .product-container .minuss, .big-container .container #products .product-container .antalFilmer {
          margin: 0; }
        .big-container .container #products .product-container h4 {
          grid-column: 2; }
        .big-container .container #products .product-container p {
          font-size: 0.8em;
          grid-column: 2; }
    .big-container .container .form-container h4 {
      margin-top: 0%;
      padding-top: 15px; }
    .big-container .container .form-container #form {
      padding: 0 10px;
      width: 100%;
      box-sizing: border-box; }
      .big-container .container .form-container #form input {
        font-size: 85%;
        width: 100%; }
    .big-container .container .form-container .radio-container {
      width: 50%; }
      .big-container .container .form-container .radio-container input {
        float: right; }
      .big-container .container .form-container .radio-container #buyBtn {
        font-size: 15px;
        border-radius: 25%;
        background-color: #a1f5a1; }
    .big-container .container ul li {
      display: inline-block; }
      .big-container .container ul li .facebook-icon {
        color: #3b5998; }
      .big-container .container ul li .instagram-icon {
        color: #f76c1c; }
      .big-container .container ul li .twitter-icon {
        color: #1da1f2; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  font-size: 20pt;
  font-family: 'Ubuntu', sans-serif; }

#category-container {
  background-image: linear-gradient(#131313, #181818);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-shadow: 0px -70px 70px 70px rgba(0, 0, 0, 0.9);
  padding-bottom: 50px; }
  #category-container #category-header {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 30px 0; }
  #category-container .category-div {
    width: 90%;
    height: 300px;
    overflow: hidden;
    padding: 0px;
    background-color: transparent;
    text-align: center;
    color: white;
    margin: 10px 0;
    border-radius: 5px; }
    @media (min-width: 600px) {
      #category-container .category-div {
        width: 45%; } }
    @media (min-width: 1000px) {
      #category-container .category-div {
        width: 30%; } }
    #category-container .category-div a {
      text-decoration: none;
      color: white; }
      #category-container .category-div a span {
        position: absolute;
        transform: translate(-50%, 0);
        z-index: 1;
        line-height: 300px;
        font-size: 1.5em;
        text-shadow: 0px 0px 5px black;
        cursor: pointer; }
      #category-container .category-div a img {
        position: relative;
        transform: translate(-50%, 0) scale(1);
        left: 50%;
        width: 100%;
        height: 300px;
        display: block;
        object-fit: cover;
        opacity: 0.75;
        transition: all 0.5s; }
      #category-container .category-div a span:hover + img {
        cursor: pointer;
        transform: translate(-50%, 0) scale(1.2);
        filter: blur(7px); }
      #category-container .category-div a img:hover {
        cursor: pointer;
        transform: translate(-50%, 0) scale(1.2);
        filter: blur(7px); }
