#header {
  position: fixed;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 20px 20px 5px rgba(0, 0, 0, 0.7);
  padding: 0;
  z-index: 10;
  transition: all 0.7s ease-in-out; }
  #header #navbar {
    list-style-type: none;
    color: #d8d8d8;
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    font-size: 0.7em; }
    #header #navbar li {
      margin: auto 0;
      cursor: pointer; }
      #header #navbar li .fa-tv {
        font-size: 2em; }
    #header #navbar #category-toggle {
      font-size: 1.3em; }
      #header #navbar #category-toggle i {
        border: 0; }
    #header #navbar .category {
      opacity: 0;
      transition: all 0.7s;
      position: relative;
      right: 50px; }
      #header #navbar .category a {
        text-decoration-line: none;
        color: white; }
    #header #navbar .category:hover {
      border-bottom: 1px solid white; }

#main-header-img {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/bigposter2.jpg);
  position: sticky;
  background-size: cover;
  background-position-y: 50%;
  bottom: 0;
  z-index: 2; }
  #main-header-img #main-text {
    text-align: center;
    position: absolute;
    font-size: 2.5em;
    color: white;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6f0b0b;
    padding: 20px 30px;
    border-radius: 10px;
    transition: all 0.8s ease-out; }
  #main-header-img #other-text {
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 2.5em;
    color: white;
    top: 60%;
    left: -50%;
    transform: translate(-50%, -50%);
    transition: all 0.8s ease-out;
    text-shadow: 0 0 20px black; }

.empty-space {
  height: 200vh; }

.empty-space2 {
  height: 100vh; }

#other-header-img {
  position: sticky;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background-image: url(../Images/Jumanji.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-attachment: fixed;
  z-index: 1; }
  #other-header-img #offer-text {
    display: block;
    position: relative;
    font-size: 4em;
    color: white;
    top: 50%;
    opacity: 0;
    text-align: center;
    transition: all 0.8s ease-out;
    text-shadow: 0 0 20px black; }

#container {
  display: flex;
  background-image: linear-gradient(#181818, #2e2e2e); }
  #container #side-filter-overlay {
    width: 80px;
    overflow: hidden;
    border-right: 0px solid #da1e1e;
    background-image: linear-gradient(#2e2e2e, #181818);
    transition: all 0.7s; }
    #container #side-filter-overlay #side-filter {
      width: 30vw;
      color: white;
      display: flex;
      font-size: 1.5em;
      justify-content: flex-start; }
      #container #side-filter-overlay #side-filter i {
        top: 10px;
        text-align: center;
        width: 80px;
        height: 80px;
        line-height: 80px;
        cursor: pointer; }
      #container #side-filter-overlay #side-filter i:hover {
        background-color: rgba(0, 0, 0, 0.486); }
      #container #side-filter-overlay #side-filter #filter-options {
        padding-left: 20px;
        left: 90px; }
        #container #side-filter-overlay #side-filter #filter-options #filter-header {
          text-align: center;
          border-bottom: 1px solid white;
          border-top: 0;
          border-right: 0;
          border-left: 0;
          border-radius: 0; }
        #container #side-filter-overlay #side-filter #filter-options p {
          border: 2px solid red;
          padding: 10px 20px;
          border-radius: 8px;
          font-size: 0.8em; }
        #container #side-filter-overlay #side-filter #filter-options p:hover {
          background-color: red; }
  #container #product-container {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 2% 10%; }
    #container #product-container .imgcontainer {
      width: 26%;
      color: white;
      margin: 10px 0; }
      #container #product-container .imgcontainer img {
        position: relative;
        width: 100%;
        transition: all 0.7s;
        opacity: 0.6;
        z-index: 0;
        filter: grayscale(0.4);
        cursor: pointer; }
      #container #product-container .imgcontainer img:hover {
        opacity: 1;
        filter: grayscale(0); }
      #container #product-container .imgcontainer span {
        font-size: 0.7em;
        display: block;
        text-align: center;
        padding: 0;
        height: 50px;
        margin: 20px 0 0 0; }
      #container #product-container .imgcontainer .addtocart {
        font-size: 0.6em;
        background-color: #6f0b0b;
        text-align: center;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        font-weight: bold; }
      #container #product-container .imgcontainer .addtocart:hover {
        background-color: red; }

#cart-icon {
  position: fixed;
  right: 50px;
  top: 30px;
  background-color: white;
  border-radius: 30px;
  width: 70px;
  height: 70px;
  text-align: center;
  box-shadow: 0 0 20px 3px black;
  cursor: pointer; }
  #cart-icon #cart-count {
    position: absolute;
    bottom: -15px;
    right: 0;
    background-color: red;
    border: 1px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: white;
    text-align: center; }
  #cart-icon .fa-shopping-basket {
    color: #6f0b0b;
    font-size: 1.7em;
    line-height: 70px; }
  #cart-icon .fa-shopping-basket:hover {
    color: #c73030; }
  #cart-icon #cart-container {
    background-color: #e6e6e6;
    width: 800px;
    position: absolute;
    right: -1000px;
    top: -30px;
    border-radius: 6px;
    z-index: 100;
    height: fit-content;
    overflow-y: scroll;
    transition: all 0.5s;
    padding: 0;
    max-height: 100vh; }
    #cart-icon #cart-container #cart-header {
      border-bottom: 1px solid black;
      padding: 20px 0;
      position: sticky;
      top: 0;
      background-color: #e6e6e6;
      z-index: 2;
      font-size: 1.7em; }
      #cart-icon #cart-container #cart-header i {
        position: relative;
        left: -25%; }
      #cart-icon #cart-container #cart-header i:hover {
        color: #8d8d8d; }
    #cart-icon #cart-container .cart-content {
      position: relative;
      background-color: white;
      box-sizing: border-box;
      border: 0px solid black;
      display: grid;
      grid-template-columns: 20% 60% 20%;
      grid-template-rows: 50% 50%;
      padding: 10px;
      margin: 10px;
      font-size: 1em;
      height: 150px;
      transition: all 0.5s;
      z-index: 1; }
      #cart-icon #cart-container .cart-content img {
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 2;
        height: 200%; }
      #cart-icon #cart-container .cart-content .title {
        grid-column: 2;
        grid-row: 1; }
      #cart-icon #cart-container .cart-content .price {
        grid-column: 3;
        grid-row: 2;
        margin: auto 0 0 0; }
      #cart-icon #cart-container .cart-content .amount-div {
        font-size: 1em;
        margin: auto 50px 0 50px;
        grid-column: 2;
        grid-row: 2;
        display: flex;
        justify-content: space-between;
        border: 2px solid red;
        border-radius: 15px;
        height: 30px;
        padding: 0 20px;
        color: black; }
        #cart-icon #cart-container .cart-content .amount-div p {
          margin: 0;
          display: inline; }
      #cart-icon #cart-container .cart-content .remove {
        grid-column: 3;
        grid-row: 1;
        margin: 0 0 auto auto;
        font-size: 1.5em; }
    #cart-icon #cart-container .cart-content::before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-image: linear-gradient(20deg, white, #ffd3d3, white);
      z-index: -1;
      transition: opacity 0.5s linear;
      opacity: 0; }
    #cart-icon #cart-container .cart-content:hover::before {
      opacity: 1; }
    #cart-icon #cart-container #total-price {
      position: sticky;
      padding: 10px;
      z-index: 2;
      background-color: white;
      bottom: 50px;
      border-top: 2px solid black; }
    #cart-icon #cart-container #cart-options {
      position: sticky;
      height: 50px;
      bottom: 0;
      z-index: 2;
      display: flex;
      justify-content: space-evenly; }
      #cart-icon #cart-container #cart-options #remove-all {
        font-size: 0.7em;
        color: white;
        border: 0px solid red;
        padding: 10px;
        border-radius: 0px;
        transition: all 0.3s;
        background-color: #6f0b0b;
        width: 10%; }
      #cart-icon #cart-container #cart-options #remove-all:hover {
        background-color: #c81414; }
      #cart-icon #cart-container #cart-options #checkout-button {
        width: 90%;
        font-size: 0.7em;
        color: white;
        border: 0px solid lime;
        padding: 10px;
        border-radius: 0px;
        transition: all 0.3s;
        background-color: #0b6f0b; }
      #cart-icon #cart-container #cart-options #checkout-button:hover {
        background-color: #14c814; }

#footer-container {
  width: 100%;
  height: 400px;
  background-color: #1d233f;
  background-image: linear-gradient(rgba(27, 0, 0, 0.96), rgba(27, 0, 0, 0.96)), url(../Images/bigposter4.jpg);
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 90% 10%;
  grid-column-gap: auto; }
  #footer-container .footer-content {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    font-size: 0.6em; }
    #footer-container .footer-content #columns {
      display: flex;
      justify-content: space-evenly;
      height: 50%; }
      #footer-container .footer-content #columns ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        height: 100%; }
        #footer-container .footer-content #columns ul li {
          margin: auto 0; }
    #footer-container .footer-content ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      height: 100%; }
      #footer-container .footer-content ul li {
        margin: auto 0; }
        #footer-container .footer-content ul li h2 {
          margin: 0; }
        #footer-container .footer-content ul li h3 {
          font-weight: normal;
          color: #920000;
          display: inline;
          margin: 0; }
        #footer-container .footer-content ul li span {
          font-weight: lighter; }
        #footer-container .footer-content ul li a {
          font-weight: lighter;
          color: white;
          text-decoration-line: none; }
  #footer-container #footer-footer {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #6f0b0b; }
    #footer-container #footer-footer span {
      color: #afafaf;
      font-size: 0.5em;
      position: relative;
      display: block;
      width: 90%;
      top: 50%;
      left: 5%;
      transform: translate(0, -50%); }

#second-header {
  width: 100%;
  background-color: #da1e1e;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  position: relative; }
  #second-header ul {
    width: 100%;
    color: white;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    #second-header ul li img {
      width: 80px;
      padding: 10px;
      box-sizing: border-box; }

body {
  margin: 0;
  font-size: 20pt;
  font-family: 'Ubuntu', sans-serif; }

#category-container {
  background-image: linear-gradient(#181818, #2e2e2e);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-shadow: 0px -70px 70px 70px rgba(0, 0, 0, 0.9);
  padding-bottom: 50px; }
  #category-container #category-header {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 2em;
    padding: 30px 0; }
  #category-container .category-div {
    width: 30%;
    height: 300px;
    overflow: hidden;
    padding: 0px;
    background-color: transparent;
    text-align: center;
    color: white;
    margin: 10px 0;
    border-radius: 5px; }
    #category-container .category-div a {
      text-decoration: none;
      color: white; }
      #category-container .category-div a span {
        position: absolute;
        transform: translate(-50%, 0);
        z-index: 1;
        line-height: 300px;
        font-size: 1.5em;
        text-shadow: 0px 0px 5px black;
        cursor: pointer; }
      #category-container .category-div a img {
        position: relative;
        transform: translate(-50%, 0) scale(1);
        left: 50%;
        width: 100%;
        height: 300px;
        display: block;
        object-fit: cover;
        opacity: 0.75;
        transition: all 0.5s; }
      #category-container .category-div a span:hover + img {
        cursor: pointer;
        transform: translate(-50%, 0) scale(1.2);
        filter: blur(7px); }
      #category-container .category-div a img:hover {
        cursor: pointer;
        transform: translate(-50%, 0) scale(1.2);
        filter: blur(7px); }
