
@mixin tablet {
    @media (min-width:600px) {@content;}

}

@mixin desktop {
    @media (min-width:1000px){@content;}
}

#footer-container {
    width: 100%;
    height: 500px;
    background-color: rgb(29, 35, 63);
    background-image: linear-gradient(rgba(27, 0, 0, 0.96), rgba(27, 0, 0, 0.96));
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    grid-template-columns: auto auto 100% auto auto;
    grid-template-rows: 20% 50% 20% 10%;
    padding:20px 0 0 0;
    color:white;
    text-align: center;
    font-size: 0.6em; 
    @include tablet{
        grid-template-columns: auto 30% 30% 30% auto;
        grid-template-rows: 90% 10% ;
        height: 250px;
    }
    @include desktop{
        grid-template-columns: auto 20% 20% 20% auto;
        grid-template-rows: 90% 10% ;
        height: 250px;
    }
    .footer-content:nth-child(1){
        grid-column: 3;
        grid-row: 1;
        @include tablet{
            grid-row: 1;
            grid-column: 2;
        } 
        @include desktop{
            grid-row: 1;
            grid-column: 2;
        }
    }
    .footer-content:nth-child(2){
        grid-column: 3;
        grid-row: 2;
        @include tablet{
            grid-row: 1;
            grid-column: 3;
        } 
        @include desktop{
            grid-row: 1;
            grid-column: 3;
        }
    }
    .footer-content:nth-child(3){
        grid-column: 3;
        grid-row: 3;
        @include tablet{
            grid-row: 1;
            grid-column: 4;
        } 
        @include desktop{
            grid-row: 1;
            grid-column: 4;
        }
        ul{
            display: flex;
            flex-direction: row;
            @include tablet {
                flex-direction: column;
            }
            li {
                margin: auto ;
                a {
                    i{
                        font-size: 3em;
                    }
                }
            }
        }
    }

    .footer-content {
        h2 {
            margin: 0;
        }   
        #middle-column {
            display: flex;
            justify-content: center;
            height: 70%;
            ul {
                padding:0;
                margin: 0 ;
                list-style-type: none;
                display: flex;
                flex-direction: column;
                height:100%;
                li {
                    margin: auto 20px;
                }
            }
        }
        #tothetop {
            cursor: pointer;
        }
        ul {          
            padding:0;
            margin: 0;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            height:90%;

            li {
                margin: 0;
                @include tablet {
                    margin: auto 0;
                }
                a{  
                    font-weight: lighter;
                    color:white;
                    text-decoration-line: none;
                    i {
                        font-size: 2em;
                        cursor: pointer;
                        color:white;
                    }
                    i:hover {
                        color:rgb(218, 30, 30);
                    }
                }
                h3 {
                    font-weight: normal;
                    color:rgb(146, 0, 0);
                    display: inline;
                    margin: 0;
                }
            }
        }
    }
    #footer-footer {
        grid-row: 4;
        grid-column-start: 1;
        grid-column-end: 6;
        background-color: rgb(111, 11, 11);
        span {
            color:rgb(175, 175, 175);
            font-size: 1em;
            position: relative;
            display: block;
            width:90%;
            top:50%;
            left:5%;
            transform: translate(0,-50%);
        }
    }
}
