
@mixin tablet {
    @media (min-width:600px) {@content;}

}

@mixin desktop {
    @media (min-width:1000px){@content;}
}

#header {
    position: fixed;
    top:0;
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
    width:100%;
    height:100px;
    display: flex;
    justify-content: start;
    box-shadow: 0px 20px 20px 5px rgba(0, 0, 0, 0.7);
    padding: 0;
    z-index: 10;
    transition: all 0.7s ease-in-out;
    color:rgb(216, 216, 216);  
    a {

    }
    img {
        font-size: 2em;
        margin: auto 0 auto 30px;
        display: none;
        width:95px;
        @include desktop {
            display: inline;
        }
    }
    #navbar {
        list-style-type: none;
        display: flex;
        flex-direction: column; 
        margin: 20px auto 0 0;
        font-size: 0.7em;
        
        @include tablet {
            flex-direction: column;
        }
        @include desktop {
            flex-direction: row;
            display: flex;
            width:80%;
            justify-content: space-evenly;
            padding: 0;
            
        }
        li {
            background-color: black;
            cursor: pointer;
            font-size:1.7em;
            padding: 10px;
            @include desktop {
                font-size: 1em;
                margin: auto 0px; 
                background-color: transparent;
            }
            span {
                display: none;
                @include desktop {
                    display: inline;
                }
            }
            .fa-bars {
                font-size:2em;
                @include desktop {
                    display: none;
                }
            }
            .fa-caret-right {
                display: none;
                @include desktop {
                    display: inline;
                }
            }
        }
        #category-toggle {
            font-size: 1.3em;
            background-color: transparent;
            i {    
                border:0;
            }
        }
        .category {
            opacity: 0;
            transition:all 0.7s;
            position: relative;
            right:50px;
            cursor: default;
            a {
                text-decoration-line: none;
                color:white;
                
            }
        }
        .category:hover{
            border-bottom:1px solid white;
        }
    }   
}