@mixin tablet {
    @media (min-width:600px) {@content;}

}

@mixin desktop {
    @media (min-width:1000px){@content;}
}
#main-header-img {
    width:100%;
    overflow: hidden;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Images/bigposter2.jpg);
    position: sticky;
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 50%;
    bottom:0;
    z-index: 2;
    img {
        z-index: 4;
        width: 100%;
        top:200vh;
        left:50%;
        position: absolute;
        transform: translate(-50%,0) rotate(0deg);
    }
    #popcorn1 {
        z-index: 0;    
    }
    #popcorn2 {
        z-index: 0;    
    }
   
    #main-text {
        text-align: center;
        position: absolute;
        font-size: 1em;
        color: rgb(255, 255, 255);
        top:-20%;
        left:50%;
        width:100%;
        box-sizing: border-box;
        transform: translate(-50%, -50%);
        background-color:rgb(111, 11, 11);
        padding: 20px 0; 
        text-transform: uppercase;
        transition: all 0.8s ease-out;
        @include tablet {
            font-size: 1.5em;
        }
        @include desktop {
            font-size: 2.5em;
        }

    }
    #other-text {
        width: 100%;
        text-align: center;
        position: absolute;
        font-size: 1em;
        color: rgb(255, 255, 255); 
        top:60%;
        left:-50%;
        transform: translate(-50%, -50%);
        transition: all 0.8s ease-out;
        text-shadow: 0 0 20px black;
        @include tablet {
            font-size: 1.5em;
        }
        @include desktop {
            font-size: 2.5em;
        }
    }
}  
.empty-space {
    height:200vh;
}  
.empty-space2 {
    height: 100vh;
}
#other-header-img {
    position: sticky;
    bottom: 0;
    width:100%;
    overflow: hidden;
    height: 100vh; 
    background-image: url(../Images/Jumanji.jpg);  
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-attachment: fixed;
    z-index: 1;
    #offer-text {
        display: block;
        position: relative;
        font-size: 1.5em;
        color: rgb(255, 255, 255); 
        top:50%;
        opacity: 0;
        text-align: center;
        transition: all 0.8s ease-out;
        text-shadow: 0 0 20px black;
        @include tablet {
            font-size: 2em;
        }
        @include desktop {
            font-size: 3em;
        }
    }
    a {
        color:white;
        #goto-offer {
            width:75%;
            position: absolute;
            font-size: 2em;
            text-align: center;
            transition: all 0.8s ease-out;
            border:4px solid white;
            border-radius: 50px;
            top:85%; left:50%;
            transform:translate(-50%,-50%);
            cursor: pointer;
            overflow: hidden;
            text-transform: uppercase;
            opacity: 0;  
            @include tablet {
                width:55%;
            }
            @include desktop {
                width:35%;
            }        
        }
        #goto-offer::after {
            content: "";
            width: 0%;
            height: 100%;
            background-color: white;
            position: absolute;
            top: 0;
            left: 0;
            color: black;
            border-radius: 50px;
            transition: all 0.5s ease-in-out;
            z-index: -1;            
        }
        #goto-offer:hover::after {
            width: 100%;          
        }
    }
    a:hover {
        color:black;
    }
}


