#modal {
    display: none;
    position: fixed;
    z-index: 115;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.2);
    
    #modal-container{
        background-color: rgb(255, 255, 255);;
        margin: 3% auto;
        width: 75%;
        box-shadow: 0 0 20px 11px rgba(0, 0, 0, 0.9);
        border-radius: 6px;
        overflow: hidden;
        #modal-trailer {
            overflow:hidden;
            padding-bottom:56.25%;
            position:relative;
            height:0; 
            iframe{
                left:0;
                top:0;
                height:100%;
                width:100%;
                position:absolute;
        }
        }
        #modal-header{
            background-color: rgb(230, 230, 230);
            padding: 5px;
            #modal-title{
                padding-left: 15px;
            }
        }
        
        #modal-body{
            background-color: #fff;
            
            font-size: .75em;
            padding: 0px 30px;    
            p{
                margin: 10px 0px 5px 0px;
            }
        } 

 

        #modal-footer{
            background-color: rgb(255, 255, 255);
            display: flex;
            justify-content: flex-end;
            width: 100%;
            border-radius: 6px;
            span{
                width: 20%;
                text-align: center;
                font-size: .8em;
            }
            .buybtn{
                background-color: rgb(111, 11, 11);
                color: white;
                padding: 5px 0px;
                display: inline;
                width: 20%;
                text-align: center;
                font-size: 0.9em;
                border-top-left-radius: 5px;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 0px;
                cursor: pointer;
            }
            .buybtn:hover{
                background-color: red;
            }
        }
    }
}