
@mixin tablet {
    @media (min-width:600px) {@content;}

}

@mixin desktop {
    @media (min-width:1000px){@content;}
}

#container {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(24, 24, 24), rgb(46, 46, 46));
    @include tablet {
        display: flex;
        flex-direction: column;
    }
    @include desktop {
        display: flex;
        flex-direction: row;
    }
    #side-filter-overlay {
        height: 80px;
        overflow: hidden;
        background-color: rgb(46, 46, 46);
        flex-shrink: 0; 
        flex-grow: 0;
        transition: all 0.7s ease-out;
        @include desktop {
            background-image: linear-gradient(rgb(46, 46, 46),rgb(24, 24, 24) ); 
            height:auto;
            flex-basis: 80px;
        }
        #side-filter {
            width:100vw;
            // background-image: linear-gradient(rgba(111, 11, 11, 0.555), rgba(51, 6, 6, 0.329));
            color:rgb(255, 255, 255);
            display: flex;
            font-size: 1.5em;
            justify-content: flex-start;
            @include tablet {
                width:100vw; 
            }
            @include desktop {
                width:300px;      
            }
            i {
                flex-basis: 80px;
                flex-grow: 0;
                flex-shrink: 0;
                text-align: center; 
                height:80px;
                line-height: 80px;
                cursor: pointer;
            }
            i:hover {
                background-color: rgba(0, 0, 0, 0.486);
            }
            #filter-options {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                width:100%;
                #filter-header {
                    font-weight: bold;
                    text-align: center;
                    margin: 80px 0 0 0;
                    padding-right:80px ;
                }
                form {
                    width:100%;
                    height: 100%;
                   
                    text-align: center;
                    padding-right: 80px;
                    box-sizing: border-box;
                
                    div {
                        display: inline;
                        text-align: left;
                        margin-right: auto;
                        white-space: nowrap;
                        @include desktop {
                            height: 15%;
                            display: block;
                        }
                        input {
                            cursor: pointer;
                            border: 0;
                            background-color: white;
                            color: transparent;
                            transform: translate(0, 25%);
                            -webkit-appearance: none;
                            border-radius: 50%;
                            border:1px solid black;
                            box-sizing:border-box ;
                            width:30px;
                            height:30px;
                            transition: all 0.3s linear;
                            margin: 0;
                        }
                        input:checked {
                            outline: 0;
                            border:8px solid red;
                        }
                        
                        label {
                            font-size: 0.4em;
                            margin:auto;
                            font-weight: lighter;
                            @include desktop {
                                font-size: 0.6em;
                            }
                         
                        }
                    }  
                }
            }
        }
    }
    #product-container {
        width:fit-content;
        flex:auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;       
        box-sizing: border-box;
        padding:2% 10%;
        
        .productcontent {
            width:45%;
            color:white;
            margin: 10px 0;
            @include tablet {
                width:45%;
            }
            @include desktop {
                width:26%;
            }
            .imgcontainer {
                
                img {
                    position: relative;
                    width:100%;
                    
                    opacity: 0.6;
                    z-index: 0;
                    filter:grayscale(0.4);
                    cursor: pointer;

                    display: block;
                    transform: perspective(5000px) scaleZ(5) rotateX(0deg) rotateY(0deg);
                }   
            }
            .imgcontainer:hover img {    
                opacity: 1;
                filter:grayscale(0);
                //ransform: perspective(5000px) scaleZ(5) rotateX(0deg) rotateY(0deg);
            }
            span {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 0.5em;
                display: block;
                text-align: center;
                padding: 0;
                height: 50px;
                margin: 20px 0 0 0;
                @include tablet {
                    font-size: 0.7em;
                }
                @include desktop {
                    font-size: 0.7em;
                }
            }
            .addtocart {
                font-size: 0.6em;
                background-color: rgb(111, 11, 11);
                text-align: center;
                border-radius: 5px;
                padding:10px;
                cursor: pointer;
                font-weight: bold;
            }
            .addtocart:hover {
                background-color: red;
            }
        }
    } 
}

