
#container {
    display: flex;
    background-image: linear-gradient(rgb(24, 24, 24), rgb(46, 46, 46));
    #side-filter-overlay {
        width:80px;
        overflow: hidden;
        border-right: 0px solid rgb(218, 30, 30);
        background-image: linear-gradient(rgb(46, 46, 46),rgb(24, 24, 24) ); 
        transition: all 0.7s;
        #side-filter {
            width:30vw; 
            // background-image: linear-gradient(rgba(111, 11, 11, 0.555), rgba(51, 6, 6, 0.329));
            color:rgb(255, 255, 255);
            display: flex;
            font-size: 1.5em;
            justify-content: flex-start;
            i {
                top:10px;
                text-align: center;
                width:80px;
                height:80px;
                line-height: 80px;
                cursor: pointer;
            }
            i:hover {
                background-color: rgba(0, 0, 0, 0.486);
            }
            #filter-options {
                padding-left:20px;
                left:90px;
                
                #filter-header {
                    text-align: center;
                    border-bottom: 1px solid white;
                    border-top:0;
                    border-right:0;
                    border-left:0;
                    border-radius: 0;
                }
                p {
                    border:2px solid red;
                    padding:10px 20px;
                    border-radius: 8px;
                    font-size: 0.8em;
                }
                p:hover {
                    background-color: red;
                }
            }
        }
    }
    #product-container {
        width:95%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;       
        box-sizing: border-box;
        padding:2% 10%;
        .imgcontainer {
            width:26%;
            color:white;
            margin: 10px 0;
            img {
                position: relative;
                width:100%;
                transition: all 0.7s;
                opacity: 0.6;
                z-index: 0;
                filter:grayscale(0.4);
                cursor: pointer;
            }
            img:hover {
                opacity: 1;
                filter:grayscale(0);
               
            }
            span {
                font-size: 0.7em;
                display: block;
                text-align: center;
                padding: 0;
                height: 50px;
                margin: 20px 0 0 0;
            }
            .addtocart {
                font-size: 0.6em;
                background-color: rgb(111, 11, 11);
                text-align: center;
                border-radius: 5px;
                padding:10px;
                cursor: pointer;
                font-weight: bold;
            }
            .addtocart:hover {
                background-color: red;
            }
        }
    } 
}
